---
layout: default
---

<div class="home">

  <p>This is not the Artsy Blog, where you can find all sorts <a href="/">of interesting technicalities</a>. Infact, this blog is kind of boring in comparison. It's a dev log of what we've been up to each week. This is an experiment for a few weeks, so consider it non-canon for the moment.</p>
  <hr/>

{% for post in site.posts %}
<article class="post grid">
  <header class="unit one-quarter">
    {% assign a = site.authors[post.author] %}
    <h2 class="post-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
  </header>
  <section class="unit three-quarters">
    {% if post.excerpt %}
        {{ post.excerpt }}
        <p><a href="{{ post.url | prepend: site.baseurl }}">Read on →</a></p>
    {% else %}
        {{ post.content }}
    {% endif %}
  </section>
</article>
{% endfor %}

  <hr/>
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>

OK, Cool.
